/* Font size */

html {
    font-size: 18px;
    line-height: 1.6;
}

article {
    transition: font-size 0.2s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-weight: 300;

    overflow-wrap: break-word;
    word-wrap: break-word;
}

article a {
    font-weight: 400;
}

article img {
    display: block;
    margin: 16px 16px 16px 0;
    width: 320px;
}

article p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.zoom-font-size article {
    font-size: 24px;
    line-height: 1.6;
}

.article-date {
    white-space: nowrap;
}

/* Colors */

body {
    background-color: #fcfcfc;
    color: #545454;
    transition: background-color 0.2s ease, color 0.2s ease;
}

body.invert-colors {
    background-color: #030303;
    color: #fbfbfb;
}

a {
    color: #aa5d00;
    transition: color 0.2s ease;
}

body.invert-colors a {
    color: #3492e4;
}

h1,
h2,
h3 {
    color: #333;
    transition: color 0.2s ease;
    line-height: 1.6;
}

body.invert-colors h1,
body.invert-colors h2,
body.invert-colors h3 {
    color: #ccc;
}

hr {
    background-color: #dedede;
    transition: background-color 0.2s ease;
}

body.invert-colors hr {
    background-color: #212121;
}

header svg g path {
    transition: fill 0.2s ease;
}

header svg:hover g path {
    fill: #aa5d00 !important;
}

body.invert-colors header svg g path {
    fill: #3492e4 !important;
}

body.invert-colors header svg:hover g path {
    fill: #fff !important;
}

nav a {
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav a:hover {
    background-color: #aa5d00;
    color: #fcfcfc;
}

body.invert-colors nav a:hover {
    background-color: #3492e4;
    color: #fff;
}

nav a.active {
    color: #030303;
}

body.invert-colors nav a.active {
    color: #fff;
}

nav a.active:hover {
    background-color: #fcfcfc;
}

body.invert-colors nav a.active:hover {
    background-color: #000;
}

.toolbox__button svg g {
    fill: #000;
    transition: fill 0.2s ease;
}

body.invert-colors .toolbox__button svg g {
    fill: #fff;
}

.toolbox__button.is-on svg g {
    fill: #aa5d00;
}

body.invert-colors .toolbox__button.is-on svg g {
    fill: #3492e4;
}

/* Layout and design */

body {
    display: flex;
    max-width: 82em;
    margin: 0.8rem auto;
    flex-direction: column;
    padding: 8px;
}

@media only screen and (min-width: 420px) {
    body {
        padding: 1em 2em;
    }
}

@media screen and (min-width: 840px) {
    body {
        flex-direction: row;
        padding: 1.6em 3.2em;
    }
}

main {
    flex: 1;
}

header h1 {
    text-indent: -2000px;
    line-height: 0;
    margin: 0;
}

header hr {
    margin: 1rem 2rem;
    width: 280px;
}

@media screen and (max-width: 840px) {
    header hr {
        margin: 1rem 0.5rem;
        width: inherit;
    }
}


.logo-link {
    display: block;
    text-align: center;
}

select.mobile-navigation {
    width: 100%;
    height: 48px;
    margin: 1rem 0;
    border: 4px solid #030303;
    font-size: 18px;
    padding: 0 8px;
    -webkit-appearance: none;
    background-color: transparent;
}

body.invert-colors select.mobile-navigation {
    border-color: #fff;
    background-color: #030303;
    color: #fff;
}

nav.desktop-navigation {
    display: none;
}

@media only screen and (min-width: 840px) {
    .basic-contact {
        padding: 0 2rem 0 2rem;
    }
}

.basic-contact span {
    padding: 0 0.8rem;
    display: block;
    font-size: 80%;
}


@media only screen and (min-width: 840px) {
    select.mobile-navigation {
        display: none;
    }
    nav.desktop-navigation {
        display: block;
    }
}

article h2 {
    /* margin-top: 2em; */
}
article h3 {
    /* margin-top: 1em; */
}
article h4 {
    margin-bottom: 0.2rem;
}

@media only screen and (min-width: 420px) {
    aside {
        height: 6rem;
    }
}

article {
    padding: 0.5rem;
}

@media only screen and (min-width: 420px) {
    article {
        padding: 0.5rem;
    }
}

@media screen and (min-width: 840px) {
    article {
        padding: 1rem;
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;
    padding: 2rem;
}

nav a {
    display: block;
    flex: 1;
    line-height: 2rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;

    padding: 0.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav a:hover {
    text-decoration: none;
}

.toolbox {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (min-width: 420px) {
    .toolbox {
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 2rem;
    }
}

.toolbox__button {
    width: 72px;
    height: 72px;
    margin-right: 1rem;
}

@media only screen and (min-width: 420px) {
    .toolbox__button {
        margin-left: 1rem;
        margin-right: 0;
    }
}

.show-on-desktop {
    display: none;
}

@media only screen and (min-width: 840px) {
    .show-on-desktop {
        display: block;
    }
}

.facebook-friends {
    box-sizing: content-box;
    padding: 1rem 2rem;
    height: 320px;
    width: 280px;
    text-align: center
}

.facebook-friends iframe {
    height: 100%;
}