/* Font size */

html {
    font-size: 18px;
    line-height: 1.6;
}

article {
    transition: font-size 0.2s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-weight: 300;
}

article a {
    font-weight: 400;
}

.zoom-font-size article {
    font-size: 24px;
}

/* Colors */

body {
    background-color: #fcfcfc;
    color: #545454;
    transition: background-color 0.2s ease, color 0.2s ease;
}

body.invert-colors {
    background-color: #030303;
    color: #ababab;
}

a {
    color: #cb6d1b;
    transition: color 0.2s ease;
}

body.invert-colors a {
    color: #3492e4;
}

h1,
h2,
h3 {
    color: #333;
    transition: color 0.2s ease;
}

body.invert-colors h1,
body.invert-colors h2,
body.invert-colors h3 {
    color: #ccc;
}

hr {
    background-color: #dedede;
    transition: background-color 0.2s ease;
}

body.invert-colors hr {
    background-color: #212121;
}

header svg g {
    transition: fill 0.2s ease;
}

header svg:hover g {
    fill: #cb6d1b;
}

body.invert-colors header svg g {
    fill: #3492e4;
}

body.invert-colors header svg:hover g {
    fill: #fff;
}

nav a {
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav a:hover {
    background-color: #cb6d1b;
    color: #fcfcfc;
}

body.invert-colors nav a:hover {
    background-color: #3492e4;
    color: #fff;
}

nav a.active {
    color: #030303;
}

body.invert-colors nav a.active {
    color: #fff;
}

nav a.active:hover {
    background-color: #fcfcfc;
}

body.invert-colors nav a.active:hover {
    background-color: #000;
}

.toolbox__button svg g {
    fill: #000;
    transition: fill 0.2s ease;
}

body.invert-colors .toolbox__button svg g {
    fill: #fff;
}

.toolbox__button.invert svg g {
    fill: #cb6d1b;
}

body.invert-colors .toolbox__button.invert svg g {
    fill: #3492e4;
}

/* Layout and design */

body {
    display: flex;
    max-width: 82em;
    margin: 0px auto;
    padding: 1.57143em 3.14286em;
}

main {
    flex: 1;
}

header h1 {
    text-indent: -200%;
    line-height: 0;
    margin: 0;
}

article h2 {
    margin-top: 2em;
}
article h3 {
    margin-top: 1em;
}

aside {
    height: 6rem;
}

article {
    padding: 2rem 2rem 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;
    padding: 2rem;
}

nav a {
    display: block;
    flex: 1;
    line-height: 2rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;

    padding: 0.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav a:hover {
    text-decoration: none;
}

.toolbox {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 2rem;
}

.toolbox__button {
    width: 72px;
    height: 72px;
    margin-left: 1rem;
}
